<query-editor-row query-ctrl="ctrl" class="generic-datasource-query-row">
	<div class="gf-form-inline">
		<div class="gf-form">
			<select class="gf-form-input" ng-model="ctrl.target.type" ng-change="ctrl.onChangeInternal()">
				<option ng-repeat="type in ctrl.metricTypes" value="{{type.value}}">{{type.text}}</option>
			</select>
		</div>
		<div class="gf-form">
			<metric-segment-model property="ctrl.target.target" get-options="ctrl.getOptions()" on-change="ctrl.onChangeInternal()" css-class="tight-form-item-xxlarge"></metric-segment-model>
		</div>
		<gf-form-switch class="gf-form" label="Rate" checked="ctrl.target.rate" switch-class="max-width-6" on-change="ctrl.onChangeInternal()"></gf-form-switch>
		<div class="gf-form">
			<select class="gf-form-input" ng-model="ctrl.target.reduce" ng-change="ctrl.onChangeInternal()">
				<option ng-repeat="reduceFunc in ctrl.reduceFunctions" value="{{reduceFunc.value}}">{{reduceFunc.text}}</option>
			</select>
		</div>
	</div>
</query-editor-row>
